@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "beaufortforlol-bold";
  font-weight: 800;
  font-display: block;
  font-style: normal;
  font-named-instance: "Bold";
  src: url(./assets/fonts/beaufortforlolja-bold.ttf) format("truetype");
}
@font-face {
  font-family: "beaufortforlol-regular";
  font-weight: 400;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url(./assets/fonts/beaufortforlolja-regular.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  font-family: "beaufortforlol-bold", Tahoma, Arial, sans-serif, system-ui;
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow: hidden;
  box-sizing: border-box;
  user-select: none;
}

#root {
  border-bottom: thin solid #1e282d;
  border-left: thin solid #1e282d;
  border-right: thin solid #1e282d;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url(./assets/images/background.png);
  background-repeat: no-repeat;
  background-size: 815px 100vh;
  background-position: 208px 0px;
}

video {
  position: fixed;
}
.dragging-area {
  position: absolute;
  width: 100%;
  height: 40px;
  z-index: 999;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

#help-window {
  height: 100vh;
  overflow: auto;
}

.Step {
  @apply p-4;
}
.Step h2 {
  @apply text-left text-lg mb-2;
}
.Step .step-number {
  @apply text-[#e2b151];
}
.Step figure {
  @apply border-2 border-b-[#6b5028] border-t-[#c7a86b] border-x-[#a07a30]
  w-max mx-5 transition-shadow hover:shadow hover:shadow-[#c7a86b];
}
.Step figure figcaption {
  @apply w-full bg-[rgb(1,10,19)] p-2 border-b-2 border-b-[#a07a30] text-sm;
}
.Step figure figcaption ul {
  @apply list-inside list-disc;
}
.Step .sub {
  @apply ml-[52px];
}

.filter-button {
  mask: url(./assets/images/search_mask.png) no-repeat center;
  mask-size: 20px;
  -webkit-mask: url(./assets/images/search_mask.png) no-repeat center;
  -webkit-mask-size: 20px;
}
.add-button {
  mask: url(./assets/images/icon_plus.png) no-repeat center;
  mask-size: 12px;
  -webkit-mask: url(./assets/images/icon_plus.png) no-repeat center;
  -webkit-mask-size: 12px;
  margin-bottom: 1px;
}

a,
a:visited {
  border: 0;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
}

.menu-bar-btn {
  @apply flex justify-center items-center bg-[#1e2328] w-[38px] h-8 text-[#cdbe91]
  border border-solid border-b-[#6b5028] border-t-[#c7a86b] border-x-[#a07a30]
  hover:text-[#f0e6d2] hover:border-t-[#f0e5d1] hover:border-b-[#c99c3f] hover:border-b-[3px]
  active:border active:border-[#614920] active:bg-[#1e2328] active:text-[#785a28];
}

.dialog-btn {
  @apply flex justify-center items-center bg-[#1e2328] text-[#cdbe91]
  border border-solid border-b-[#6b5028] border-t-[#c7a86b] border-x-[#a07a30]
  hover:text-[#f0e6d2] hover:border-t-[#f0e5d1] hover:border-b-[#c99c3f] hover:border-b-[3px]
  active:border active:border-[#614920] active:bg-[#1e2328] active:text-[#785a28];
}
#dialog-button::before {
  content: "";
  position: relative;
  left: 0;
  bottom: 0;
  border-right: 2px solid #614a1f;
  border-top: 2px solid transparent;
  height: 34px;
}
#dialog-button::after {
  content: "";
  position: relative;
  right: 0;
  bottom: 0;
  border-left: 2px solid #614a1f;
  border-top: 2px solid transparent;
  height: 34px;
}
#x-icon {
  transform: translate(7px, 7px);
  mask: url(./assets/images/x-icon.png) no-repeat center;
  mask-size: 10px;
}
#dialog-close-btn::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 68px;
  top: -4px;
  right: -5px;
  background-image: url(./assets/images/frame-button-close-top-down.png);
  background-size: 38px 68px;
}
#button-wrapper:hover #x-icon {
  background-color: #f0e6d2;
}

#dialog {
  border-image: linear-gradient(to top, #785a28 0, #463714 50%, #463714 100%) 1
    stretch;
}

#help {
  mask-image: url(./assets/images/control-help.png);
  mask-size: contain;
}
#hide {
  mask-image: url(./assets/images/control-hide.png);
  mask-size: contain;
}
#close {
  mask-image: url(./assets/images/control-close.png);
  mask-size: contain;
}

#roster-li:hover p {
  color: #c2c2c2;
}

#select-all-wrapper #select-all {
  background: url(./assets/images/btn_icon.png);
  background-position: 0 0;
  background-size: 100%;
}
#select-all-wrapper:hover #select-all {
  background-position: 0 -20px;
}
#select-all-wrapper:active #select-all {
  background-position: 0 -40px;
}
#select-all-wrapper #select-all-on {
  background: url(./assets/images/btn_icon.png);
  background-position: 0 -80px;
  background-size: 100%;
}
#select-all-wrapper:hover #select-all-on {
  background-position: 0 -100px;
}
#select-all-wrapper:active #select-all-on {
  background-position: 0 -120px;
}

#error-popup {
  border-image: linear-gradient(to top, #785a28 0, #463714 50%, #463714 100%) 1
    stretch;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 30px;
  width: 20px;
  background: linear-gradient(180deg, #785a28, #c8aa6e);
  mask: url(./assets/images/x-icon.png) no-repeat center;
  mask-size: 10px;
}

#tooltip-bottom::before {
  content: "\n\n\n";
  color: transparent;
  display: block;
  position: relative;
  top: -23px;
  width: 100%;
  height: 20px;
  background-image: url(./assets/images/tooltip-system-caret.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  transform: rotate(-180deg);
}
#tooltip-top-big::before {
  content: "\n\n\n";
  color: transparent;
  display: block;
  position: relative;
  bottom: -67px;
  width: 100%;
  height: 20px;
  background-image: url(./assets/images/tooltip-system-caret.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}
#tooltip-top::before {
  content: "\n\n\n";
  color: transparent;
  display: block;
  position: relative;
  bottom: -21px;
  width: 100%;
  height: 20px;
  background-image: url(./assets/images/tooltip-system-caret.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}
#tooltip-right::before {
  content: "\n\n\n";
  color: transparent;
  display: block;
  position: relative;
  right: 32px;
  bottom: 2px;
  width: 100%;
  height: 20px;
  background-image: url(./assets/images/tooltip-system-caret.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  transform: rotate(90deg);
}

#ui-dropdown-current::after {
  background: url(./assets/images/up-down-arrow.png) center no-repeat;
  width: 13px;
  height: 18px;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translate(0, -50%);
  content: "";
}
#ui-dropdown-current {
  border-image: linear-gradient(
      to top,
      #695625 0%,
      #a9852d 23%,
      #b88d35 93%,
      #c8aa6e 100%
    )
    1;
}
#ui-dropdown-current:hover {
  border-image: linear-gradient(
      to top,
      #c89c3c 0%,
      #dcc188 50%,
      #e1c998 71%,
      #f0e6d8 100%
    )
    1;
  background-image: linear-gradient(
    to bottom,
    #1e232a 0%,
    #1e232a 40%,
    rgba(118, 97, 51, 0.8) 140%
  );
}
#ui-dropdown-current:hover #ui-dropdown-current-content {
  color: #f3f0e6;
}

.btn {
  @apply flex flex-row gap-2 justify-center items-center bg-[#1e2328] text-[#cdbe91]
  border border-solid border-b-[#6b5028] border-t-[#c7a86b] border-x-[#a07a30]
  hover:text-[#f0e6d2] hover:border-t-[#f0e5d1] hover:border-b-[#c99c3f] hover:border-b-[3px]
  active:border active:border-[#614920] active:bg-[#1e2328] active:text-[#785a28];
}

#batch-actions {
  mask: url(./assets/images/sort_mask.png) no-repeat center;
  mask-size: 19px;
  -webkit-mask: url(./assets/images/sort_mask.png) no-repeat center;
  -webkit-mask-size: 19px;
}

/* Width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c99c3f;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fdd27a;
}
