@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "beaufortforlolja";
  font-weight: 400;
  src: url(./assets/fonts/beaufortforlolja-regular.ttf);
}

@font-face {
  font-family: "beaufortforlolja";
  font-weight: 700;
  src: url(./assets/fonts/beaufortforlolja-bold.ttf);
}

@layer base {
  :root {
    --background: 210 90% 4%;
    --background-accent: 0 0% 41%;
    --background-active: 0 0% 45%;
    --foreground: 0, 0%, 100%, 0.87;
    --foreground-accent: 0 0% 96.1%;
    --foreground-muted: 0 0% 45.1%;
    --foreground-highlight: 45 38% 69%;

    --button: 212 25% 10%;
    --button-active: 210 14% 14%;
    --button-inner: 210 14% 14%;
    --button-foreground: 45 38% 69%;
    --button-foreground-accent: 40 50% 88%;
    --button-foreground-active: 38 50% 31%;
    --button-border-active: 38 50% 25%;

    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --border: 200 20% 15%;
  }
}

@layer base {
  * {
    @apply border-border box-border;
  }
  html,
  body {
    @apply w-screen h-screen overflow-hidden select-none;
  }
  body {
    @apply font-display font-bold antialiased text-foreground;
  }
  #root {
    @apply min-h-full bg-[url(./assets/images/background.png)] bg-window-sm bg-center bg-no-repeat
    border border-t-[hsl(40,54%,41%)];
  }
}

/* Width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c99c3f;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fdd27a;
}
